<div id="<%= dom_id feedback %>">
  <p>
    <strong>Account:</strong>
    <%= feedback.account_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= feedback.sender_id %>
  </p>

  <p>
    <strong>Receiverable type:</strong>
    <%= feedback.receiverable_type %>
  </p>

  <p>
    <strong>Receiverable:</strong>
    <%= feedback.receiverable_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= feedback.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= feedback.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= feedback.status %>
  </p>

</div>
