<%= form_with(model: feedback) do |form| %>
  <% if feedback.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.text_field :account_id %>
  </div>

  <div>
    <%= form.label :sender_id, style: "display: block" %>
    <%= form.text_field :sender_id %>
  </div>

  <div>
    <%= form.label :receiverable_type, style: "display: block" %>
    <%= form.text_field :receiverable_type %>
  </div>

  <div>
    <%= form.label :receiverable_id, style: "display: block" %>
    <%= form.number_field :receiverable_id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
